<!DOCTYPE html>
<html>


<title>Home/Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/stylesheets/main.css">
<link rel="stylesheet" href="/public/stylesheets/fonts.googleapisRaleway.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/public/stylesheets/jquery.fancybox.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="light-grey content" style="max-width:1600px">
<div id="app">
<nav class="sidebar collapse white animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="container">
        <a href="#" v-on:click="wt_close" class="hide-large right jumbo padding hover-grey" title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <img src="/public/pictures/guest.png" style="width:40%;" class="round"><br><br>
    </div>
    <div class="bar-block">
        <h4><button type="submit" v-on:click="GoogleRedirectLogin" class="bar-item button margin-bottom red"><i class="fa fa-google fa-fw"></i>&nbsp;&nbsp;&nbsp;Sign in with Google</button></h4>
    </div>   
    <div class="bar-block">
        <h4><button type="submit" v-on:click="GoogleRedirectRegister" class="bar-item button margin-bottom red"><i class="fa fa-google fa-fw"></i>&nbsp;&nbsp;&nbsp;Get an Account</button></h4>
    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="overlay hide-large animate-opacity" v-on:click="wt_close" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="main" style="margin-left:300px">

    <!-- Header -->
    <header id="Home">
        <a href="#"><img src="/public/pictures/guest.png" style="width:65px;" class="circle right margin hide-large hover-opacity"></a>
        <span class="button hide-large xxlarge hover-text-grey" v-on:click="wt_open"><i class="fa fa-bars"></i></span>
        <div class="container">
            <h1><b>Home</b></h1>
            <div class="section bottombar padding-16">
                <span class="margin-right">Filter:</span>
                <button class="button black"><i class="fa fa-users margin-right"></i>ALL</button>
                <button class="button white"><i class="fa fa-user-o margin-right"></i>Denis</button>
                <button class="button white"><i class="fa fa-user-o margin-right"></i>Ludwig</button>
                <button class="button white"><i class="fa fa-user-o margin-right"></i>Raphael</button>
                <br>
                <div class="section bottombar margin-top">
                    <span class="margin-right">Tags:</span>
                    <span class="tag grey small smargin-bottom">Travel</span> <span class="tag grey small margin-bottom">Ideas</span>
                    <span class="tag grey small margin-bottom">Family</span> <span class="tag grey small margin-bottom">Clothing</span>
                    <span class="tag grey small margin-bottom">Shopping</span> <span class="tag grey small margin-bottom">Sports</span>
                    <span class="tag grey small margin-bottom">Games</span>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Insert Photo Grid here-->
    
</div>
</div>
</body>
</html>

<script src="/public/javascript/jquery/jquery.js"></script>
<script src="/public/javascript/vue.js"></script>
<script>
    // Script to _open and _close sidebar
        new Vue({
        el: '#app',
        data: {
        },
        methods: {
            wt_open: function() {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            },
            wt_close: function() {
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            },
            GoogleRedirectLogin: function() {
                window.location = window.location.origin + "/auth/login";
            },
            GoogleRedirectRegister: function() {
                window.location = "https://accounts.google.com/SignUp";
            }
        }
    })
</script>