<!DOCTYPE html>
<html>

<title>WT-Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/stylesheets/main.css">
<link rel="stylesheet" href="/public/stylesheets/rawline.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/public/stylesheets/jquery.fancybox.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: 'rawline', sans-serif}
</style>
<body class="light-grey content" style="max-width:1600px">
<div id="app">
<!-- Sidebar/menu -->
<nav class="sidebar collapse white animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="container">
        <a href="#" v-on:click="wt_close" class="hide-large right jumbo padding hover-grey" title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <img v-bind:src="profilPicUrl" style="width:40%;" class="round" alt="userPicture"><br><br>
        <h4><b>{{ profilName }}</b></h4>
    </div>
    <div class="bar-block">
        <h4><button type="submit" v-on:click="GoogleLogout" class="bar-item button margin-bottom red"><i class="fa fa-google fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Logout</button></h4>
    </div>
    <div class="bar-block">
        <a href="#galery" class="bar-item button padding text-teal"><i class="fa fa-th-large fa-fw margin-right"></i>GALERY</a>
        <a href="#upload" class="bar-item button padding"><i class="fa fa-envelope fa-fw margin-right"></i>UPLOAD</a>
    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="overlay hide-large animate-opacity" v-on:click="wt_close" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="main" style="margin-left:300px">

    <!-- Header -->
    <header id="galery">
        <a href="#"><img v-bind:src="profilPicUrl" style="width:65px;" class="circle right margin hide-large hover-opacity" alt="userPicture"></a>
        <span class="button hide-large xxlarge hover-text-grey" v-on:click="wt_open"><i class="fa fa-bars"></i></span>
        <div class="container">
            <h1><b>Picture galery</b></h1>
            <div class="section bottombar padding-16">
                <span class="margin-right">Filter:</span>
                <button class="button white" v-on:click="getMyImages">My Images</button>
                <button class="button white" v-on:click="getRecentImages"><i class="fa fa-diamond margin-right"></i>Recent</button>
                <button class="button white hide-small" v-on:click="getPopularImages"><i class="fa fa-photo margin-right"></i>Popular</button>
                <button class="button white hide-small" v-on:click="getAllImages"><i class="fa fa-map-pin margin-right"></i>All</button>
            </div>
        </div>
    </header>

    <!-- Container that holds all images -->
    <div>
        <paginate name="imagelist" :list="imagelist" :per="6">
            <div class="row-padding" v-for="i in Math.ceil(imagelist.length / 3)">
                <div class="third container margin-bottom" v-for="entry in paginated('imagelist').slice((i - 1) * 3, i * 3)">
                    <a class="fancybox" rel="group" :href="entry.path">
                        <img v-bind:src="entry.path" v-bind:id="entry._id" alt="Juhu" style="width:100%; max-width:350px" class="hover-opacity">
                    </a>
                    <div class="container white" style="max-width:350px">
                        <p>
                            <b>{{ entry.title }}</b>
                        </p>
                        <p>{{ entry.description }}</p>
                    </div>
                </div>
            </div>
        </paginate>
    </div>
    <div class="pagination" v-if="imagelist.length > 6">  
        <paginate-links for="imagelist" :limit="3"></paginate-links>
    </div>

       <!-- Upload Image -->
        <div class="container padding-large grey">
            <h4 id="upload"><b>Upload Image</b></h4>
            <hr class="opacity">
            <form id="imageUploadForm" method="POST" enctype="multipart/form-data">
                <div class="section">
                        <label for="title"> Title of image </label>
                        <input class="input border" type="text" name="title" id="title"
                               placeholder="Christmas with family ..." required>
               </div>
            <div class="section">
                        <label for="description"> Describe your image briefly. </label>
                        <input class="input border" type="text" name="description" id="description"
                               placeholder="Best cook on earth: Mom">
            </div>
                        <!-- Hint should be hidden. If clicked on icon: show hint -->
                    
            <div class="section">
                        <label for="tags" class="tooltip"> Define tags that will improve search results for your image!<span class="tooltiptext"> Hint: Words with
                            whitespace inbetween, will be treated as different tags. For example:
                            You write: 'Family Christmas Love', Tag 1: Family, Tag 2: Christmas, Tag 3: Love</span></label>

                        <input class="input border" type="text" name="tags" id="tags" placeholder="Tag1 Tag2 Tag3 ...">
            </div>
            <div class="section">
                <fieldset>
                    <legend>Choose categories to specify your image</legend>
                    <fieldset>
                        <input type="radio" id="photographic" name="photographic" value="photographic">
                        <label for="photographic">Photographic</label> 
                        <input type="radio" id="non_photographic" name="photographic" value="non_photographic">
                        <label for="non_photographic">Non-photographic</label>
                        </fieldset>

                    <fieldset>
                        <input type="radio" id="people" name="classification1" value="people">
                        <label for="people">People</label> 
                        <input type="radio" id="nature" name="classification1" value="nature">
                        <label for="nature">Nature</label> 
                        <input type="radio" id="urban" name="classification1" value="urban">
                        <label for="urban">Urban</label> 
                    </fieldset>

                <fieldset>
                    <input type="radio" id="science" name="classification2" value="science">
                        <label for="science">Science</label> 
                        <input type="radio" id="technology" name="classification2" value="technology">
                        <label for="tech">Technology</label> 
                        <input type="radio" id="entertainment" name="classification2" value="entertainment">
                        <label for="entertainment">Entertainment</label> 
                    </fieldset> 
                </fieldset>
            </div>
            <div class="section">
                        <label for="pic"> Search for an image on your computer </label>
                        <input class="input" type="file" name="pic" id="pic"
                               accept="image/png|image/jpg|image/jpeg|image/gif">
            </div>
            <button type="submit" class="button black margin-bottom" id="uploadImage" value="Upload Image"><i
                    class="fa fa-upload fa-fw margin-right"></i>Upload Image</button>
        </form>
    </div>
</div>

</div>
	
	
<script src="/public/javascript/jquery/jquery.js"></script>
<script src="/public/javascript/UploadImageHandler.js"></script>
<script src="/public/javascript/jquery.fancybox.js"></script>
<script src="/public/javascript/vue.min.js"></script>
<script src="/public/javascript/vue-paginate.js"></script>
<script src="/public/javascript/LoggedIn.js"></script>

</body>
</html>

